body {
    background-color: #121212;
    color: #bb86fc;
}

.accordion {
    background-color: #1f1b24;
    color: #bb86fc;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}
  
.active, .accordion:hover {
    background-color: #3700b3;
}
  
.panel {
    padding: 0 18px;
    background-color: #1f1b24;
    color: #03dac5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
}

a:link {
    color: #bb86fc;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:visited {
    color: #bb86fc;
    background-color: transparent;
    text-decoration: underline;
  }
  

.footer {
    color: #3700b3;
}